body {
  background-color: lightgray;
  font-weight: 700;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
header {
  background-color: lightgray;
  position: sticky;
  top: 0;
  padding: 10px;
  margin-top: 21px;
  padding-left: 137px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: 20px;
  display: flex;
}
header img {
  margin-bottom: -10px;
}
.navigation li {
  display: inline;
  margin-right: 35px;
}
H1 {
  margin-top: 42px;
  font-size: 28px;
  padding-left: 137px;
  margin-bottom: 27px;
}
.widget {
  display: inline-block;
  padding-left: 137px;
  color: #8a8787;
  font-size: 20px;
}
.widget2 {
  padding-left: 40px;
  display: inline-block;
  color: #8a8787;
  font-size: 20px;
}
.widget3 {
  display: inline-block;
  padding-left: 40px;
  color: #8a8787;
  font-size: 20px;
}
.wida {
  position: relative;
}
.img1 {
  padding-right: 40px;
  width: 450px;
  position: relative;
  z-index: -1;
}
.p1 {
  z-index: -1;
  position: absolute;
  top: 32px;
  left: 41px;
}
.pic {
  position: relative;
  width: 410px;
  height: 171px;
  z-index: -1;
  background-color: white;
}
.inp {
  position: absolute;
  font-size: 13px;
  top: 68px;
  left: 37px;
}
.timer {
  position: absolute;
  left: 40px;
  top: 118px;
  height: 18px;
}
.time {
  position: absolute;
  left: 67px;
  top: 118px;
  font-size: 13px;
}
.sectia {
  display: flex;
}
.images-left-side {
  z-index: -1;
  width: 50%;
  margin-left: 137px;
  position: relative;
  flex-direction: column;
}
.p2 {
  position: absolute;
  top: 203px;
  left: 278px;
  font-size: 20px;
}
.images-right-side {
  display: flex;
  flex-direction: column;
}

footer {
  padding-top: 60px;
  gap: 100px;
  padding-left: 137px;
  padding-bottom: 221px;
  line-height: 40px;
  height: 201px;
  display: flex;
  background-color: #243043;
  color: #818687;
}
footer nav {
  font-size: 15px;
}
footer p {
  padding-left: 112px;
  color: white;
}
footer img {
  margin-top: 10px;
  margin-left: 416px;
  width: 60px;
  height: 60px;
}